@inherits LayoutComponentBase
@inject TimingService timingService

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button @onclick=timingService.DumpTimingSummary>Summary</button>
        <button @onclick=timingService.ClearHistory>Reset</button>
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

