@typeparam T
<table style="border:solid 1px gray;">
    @*<CascadingValue Value=@(this) Name="Grid">*@
        @RowTemplate(Columns(("Header", default(T))))
        @if (Data is null)
        {
            <div>Loading...</div>
        }
        else
        {
            @foreach (T item in Data)
            {
                @: @RowTemplate(Columns(("Data", item)));
            }
        }
    @*</CascadingValue>*@
</table>
@code {
    [Parameter] public IEnumerable<T> Data { get; set; }
    [Parameter] public RenderFragment<(string rowType, T Item)> Columns { get; set; }
    [Parameter] public RenderFragment<RenderFragment> RowTemplate { get; set; }
}