@page "/"
@using Blazor.Test.Grid.Core
<h1>Welcome to Blazor!</h1>

@if (data is object)
{
	<Grid Data=@data Context="gridContext" Grouping=@((WeatherForecast data)=>data.Summary)>
		<Columns Context="Column">
			<GridColumn Class=@((Column.rowType == Grid<WeatherForecast>.RowType.Header ? "p-2 bg-secondary text-light" : "p-2 bg-light text-dark")) Title="Last Rendered" Data="@Column.Item?.LastRendered" />
			<GridColumn Class=@((Column.rowType == Grid<WeatherForecast>.RowType.Header ? "p-2 bg-secondary text-light" : "p-2 bg-light text-dark")) Title="Date" Data="@Column.Item?.Date" />
			<GridColumn Class=@((Column.rowType == Grid<WeatherForecast>.RowType.Header ? "p-2 bg-secondary text-light" : "p-2 bg-light text-dark")) Title="Temp C" Data="@Column.Item?.TemperatureC" />
			<GridColumn Class=@((Column.rowType == Grid<WeatherForecast>.RowType.Header ? "p-2 bg-secondary text-light" : "p-2 bg-light text-dark")) Title="Temp F" Data="@Column.Item?.TemperatureF" />
		</Columns>
	</Grid>
}
<button @onclick=StateHasChanged>click me</button>

@code {
	WeatherForecast[] data;
	protected override void OnInitialized()
	{
		base.OnInitialized();
		data = WeatherForecast.Data;
	}
}